LLM_BASE_URL=https://openrouter.ai/api/v1
LLM_API_KEY=sk-or-...
LLM_MODEL=openai/gpt-4o-mini
LLM_STUB=0
LLM_ENABLED=true
DATABASE_URL=


# Supabase
SUPABASE_KEY=
SUPABASE_URL=
PORT=3000


# Saved Password
DB_PASS=
