# Database connection URL
# Use localhost if running the FastAPI application locally outside of Docker
# DATABASE_URL=postgresql+psycopg://postgres:dev@localhost:5432/tasks

# Use db as host when running the FastAPI application inside Docker Compose
DATABASE_URL=postgresql+psycopg://postgres:dev@db:5432/tasks
